body {
    background-color: beige; 
}
.container {
    margin: 20px;
    display: flex;
    justify-content: space-around;  
}
.title {
    text-align: center;
}

p {
    text-align: center;  
    color: black;
}

.pricing-card p {
    color: black;
}

.pricing-card h3 {
    text-align: center;
}

.pricing-card #alone {
    color: black;
}

.pricing-card ul {
    color: black;
    list-style-position: inside; 
}

ul {
    padding: 0; 
}

.pricing-card {
    background-color: teal;
    margin: 10px;
    padding: 30px 10px 50px 10px; 
    border-radius: 10px;
    border: solid 2px burlywood; 
    text-align: center;
}

button {
   background-color: black;
   border-radius: 5px; 
   margin: auto; 
   padding: 0 30px; 
}

.button {
    color: whitesmoke;
    text-decoration: none; 
}